# =========================
# Node Modules
# =========================
node_modules

# =========================
# Build Output
# =========================
dist
build
coverage
.vite
.turbo

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# =========================
# Environment Files
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Generated JS / Declaration Files
# =========================
*.js
*.d.ts
*.js.map

# Except source configs if needed
!eslint.config.js

# =========================
# Docker
# =========================
.docker

# =========================
# Test Coverage
# =========================
coverage/

# =========================
# Turbo
# =========================
.turbo/

# =========================
# Misc
# =========================
tmp
temp